*{
	margin: 0px;
	box-sizing: border-box;
}
:root{
	--primary: #F56605;
	--second: #ECD805;
}
body{
	padding-top: 1rem;
	font-family: 'Raleway', sans-serif;
	background-image: url("./pic3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
  	text-align: center;
	font-weight: bold;
}
/* HEADER  */
header{
	height:30vh;
}
header img{
	width: 6rem;
}
header h1{
	font-weight:bold;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;	
	background: linear-gradient(to top, var(--primary), var(--second), var(--primary));
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* SECTION */
#thank-you{
	padding: 20px;
}

#thank-you h1 {
  color: var(--primary);
  margin-bottom: 20px;
}

#thank-you p {
	font-weight: bold;
  font-size:0.8rem;
  line-height: 1.4;
  margin-bottom: 20px;
}
#thank-you p span{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	color: var(--primary);
	font-size: 0.9rem;
	text-shadow: 0px 1px 1px black;
}

/* FOOTER */
footer{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-shadow: 0px 1px 2px black;
}